APScheduler==3.11.0
dateparser==1.2.2
humanfriendly==10.0
nextcord==3.1.0
nextcord_ext_menus==1.5.7
rapidfuzz==3.13.0
python-dateutil==2.9.0.post0
SQLAlchemy==2.0.43
topggpy==1.4.0
cachetools==6.2.0
psutil==7.1.0
discordlists.py==1.1.1