APScheduler==3.11.0
dateparser==1.2.2
humanfriendly==10.0
nextcord==3.1.1
nextcord_ext_menus==1.5.7
rapidfuzz==3.14.3
python-dateutil==2.9.0.post0
SQLAlchemy==2.0.44
topggpy==1.4.0
cachetools==6.2.1
psutil==7.1.1
discordlists.py==1.1.1